<div class="mb-8">
    <%= render "form" %>
</div>

<%= turbo_frame_tag "posts", class: "divide-y list-none" do %>
    <%= render @posts %>
<% end %>

<%= turbo_frame_tag Post.new do %>
    <% if @posts.none? %>
        <%= render "empty" %>
    <% end %>
<% end %>