<div class="border-x sticky top-12 bg-white z-40">
    <div class="px-4 py-3 border-b">
      <h1 class="text-xl font-bold">Home</h1>
    </div>
    <%= render "form", post: @post %>
</div>

<%= turbo_frame_tag "posts", class: "divide-y list-none" do %>
    <% @posts.each do |post| %>
        <%= render partial: "posts/#{post.post_type}", locals: { post: post } %>
    <% end %>
<% end %>

<%= turbo_frame_tag Post.new do %>
    <% if @posts.none? %>
        <%= render "empty" %>
    <% end %>
<% end %>