<div class="mb-8">
    <%= render "form" %>
</div>

<%= turbo_frame_tag "posts", class: "divide-y list-none" do %>
    <% @posts.each do |post| %>
        <%= render partial: "posts/#{post.post_type}", locals: { post: post } %>
    <% end %>
<% end %>

<%= turbo_frame_tag Post.new do %>
    <% if @posts.none? %>
        <%= render "empty" %>
    <% end %>
<% end %>